[Unit]
Description=Miner
After=network.target

[Service]
Environment="MAX_ADDR=3"
Environment="REQUEST_OVER_TIME=3"
Environment="COIN_MARKET_CAP_API_KEY=***"
Environment="DOMAIN=localhost"
Environment="COOKIE_HASH_KEY=s1v5SYOwt3vgnKJ6ZAjBx8KoBxvD4i9A"
Environment="COOKIE_BLOCK_KEY=j9qaYMQFQI3cgB2mOfZOZKlikJOGDF7m"
Environment="SMTP_HOST=smtp.gmail.com"
Environment="SMTP_PORT=587"
Environment="SMTP_USER=user@gmail.com"
Environment="SMTP_PASSWORD=***"
Type=simple
PIDFile=/run/miner.pid
WorkingDirectory=/home/ubuntu/2miners
ExecStart=/home/ubuntu/2miners/bin/app
ExecStop=/bin/kill -INT $MAINPID
User=root
Group=root
StandardOutput=append:/var/log/miner.log
StandardError=append:/var/log/miner.log
#Restart=always

[Install]
WantedBy=multi-user.target
